{% extends "base_site.html" %}

{% block content %}
<div id="skill_editor">
    <div class="row-fluid">
        <div class="span6">
            <div class="input-append">
                <h5>Type a skill you have...</h5>
                <input id="skill_text" type="text" placeholder="Type your skill">
                <button class="btn" type="button"><i class="icon-plus" onclick="js:addNewSkillToSystem()"></i></button>
            </div>
            <div id="skill_list">
            </div>
            <div id="save_buttons">
                <button class="btn" type="button">Cancel</button>
            </div>
        </div>
        <div class="span6">
            <div id="skill_editor_popup">
            </div>
            <br/><br/>
        </div>
    </div>
</div>


<script>
    var suggesionText;
    var addedSkills = [];
    var userOwnSkills = [];
    var suggesionList = [];
    var suggesionListUnmodified = [];
    var lastResultSet = false;

    /*~~~~~~~~~~~~~~~~~~ Lots of ajax stuff goes here ~~~~~~~~~~~~~~~~~~~~~~~~*/
    
    console.log("Edit text field js works fine");//#########
    $('#skill_editor').keyup(function() {
        suggesionList = [];
        $("#skill_editor_popup").html("");
        inputText = $("#skill_text").val();
        console.log("Edit text field changed",inputText);//##########
        if (0 < inputText.length){
            lastResultSet = true;
            console.log("trying to send ajax request");//##########
            ajaxSend(inputText);
        }
        else{
            lastResultSet = false;
            suggesionList = [];
            suggesionListUnmodified = [];
        }
        
        function ajaxSend(inputText){
            $.ajax({
              type: "GET",
              url: "/skills/search/"+inputText,
            }).done(showSkills);
            console.log("ajax request sent");//##########
        }
        function showSkills(result){
            console.log("we've got something");//##########
            suggesionList = $.parseJSON(result);
            suggesionListUnmodified = suggesionList;
            updateSuggestions()
        }
        
        function skillError(result){
        
        }      
    });
    
    //~~~~~~~~~~~~~~~~~ adding suggested skills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    function addSuggestions(i,item){
        //console.log("here it comes from the deep sea.",i,"::",item);//##########
        if((jQuery.inArray(item, addedSkills)==-1) && !(jQuery.inArray(item, suggesionListUnmodified)==-1)){
            suggesionText += "<button class=\"btn btn-small btn-info\" type=\"button\" name=\""+item+"\">"+item+" <i class=\"icon-plus\"></i></button>\n";
        }
    } 
    
    //~~~~~~~~~~~~~~~~~ adding skills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    function addNewSkill(skill){
        console.log("suggestion selected",skill);
        if(jQuery.inArray(skill, addedSkills)==-1){
            if(!(typeof skill === 'undefined')){
                addedSkills.push(skill);
            }
            //show new skill_list
            updateSkillList()
            suggesionList = jQuery.grep(suggesionList, function(n){
                                return (n != skill );
                            });
            updateSuggestions()
        }
    }
    
    //~~~~~~~~~~~~~~~~~ removing added skills ~~~~~~~~~~~~~~~~~~~~~~~
    function removeSkill(skill){
        console.log("selected to remove",skill);
        addedSkills =   jQuery.grep(addedSkills, function(n){
                            return (n != skill );
                        });
        if(!(typeof skill === 'undefined')){
            suggesionList.push(skill);
        }
        updateSkillList();
        updateSuggestions();
    }
    
    
    //~~~~~~~~~~~~~~~~~ update suggested skills view~~~~~~~~~~~~~~~~~~~~~~~
    function updateSuggestions(){
        console.log(suggesionList,suggesionList.length);//##########
        if(0 < suggesionList.length){
            suggesionText = "";
            $.each(suggesionList,addSuggestions);
            if(suggesionText){
                suggesionText = "<h5>Did you mean?<a class=\"close\" data-dismiss=\"alert\" href=\"#\">&times;</a></h5>"+suggesionText;
            }
            $("#skill_editor_popup").html(suggesionText);
            //Let''s add click event to thes new buttons
            $("#skill_editor_popup button").click(function(event) {
                addNewSkill(event.target.name)
            });
        }
        else{
            $("#skill_editor_popup").html("");
        }
    }
    
    //~~~~~~~~~~~~~~~~~ updating skills view~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    function updateSkillList(){
        skillText = "";
        $.each(addedSkills,addSkillList);
        $("#skill_list").html(skillText);
        buttonText ="<div id=\"save_buttons\">";
        if(0< addedSkills.length){
            buttonText+="<button class=\"btn btn-primary\" type=\"button\" onclick=\"js:saveAllNewSkills()\">Save added skills</button>\n";
        }
        buttonText+=     "<button class=\"btn\" type=\"button\">Cancel</button>";
        buttonText+="</div>";
        $("#save_buttons").html(buttonText);
        //Let''s add click event to thes new buttons
        $("#skill_list button").click(function(event) {
            removeSkill(event.target.name)
        });
        updateSuggestions();
    }
    function addSkillList(i,item){
        //console.log("Here we are including ",item," to show your colors.",i);//##########
        if(jQuery.inArray(item, userOwnSkills)==-1){
            skillText += "<button class=\"btn btn-small btn-success\" type=\"button\" name=\""+item+"\">"+item+" <i class=\"icon-remove\"></i></button>\n";
        }
        else{
            skillText += "<button class=\"btn btn-small btn-warning\" type=\"button\" name=\""+item+"\">"+item+" <i class=\"icon-remove\"></i></button>\n";
        
        }
    }
    
    //~~~~~~~~~~~~~~~~~ consider adding new skills to database~~~~~~~~~~~~~~~~~~
    function addNewSkillToSystem(){
        console.log("Who is that fool clicked the trap?");
        skill = $('#skill_text').val();
        if (skill){
            if(! lastResultSet){
                //add this skill to skills table
            }
            if(!(typeof skill === 'undefined')){
                userOwnSkills.push(skill);
            }
            addNewSkill(skill); 
        } 
    }
    
    //~~~~~~~~~~~~~~~~~ Save selected skills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    function saveAllNewSkills(){
        $.ajax({
              type: "POST",
              url: "/vacancies/addskillstouser/",
              data: addedSkills,
            }).done(cancelEditingSkills);
            console.log("ajax request sent to save data");//##########
    }
    
    //~~~~~~~~~~~~~~~~~ Cancel editing skills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    function cancelEditingSkills(){
        console.log("Now we are leaving editing your skills :P");
        //Do something here
    }
    
</script>

{% endblock %}

