{% extends "base_site.html" %}

{% block content %}

<style type="text/css">
    #eduModal{
        width: auto !important;
        left: 45%
    }

    #expModal{
        width: 80% !important;
        left: 30%
    }

    #projectModal{        
        width: 80% !important;
        left: 30%
    }

    h3{
        text-align: left;
    }
</style>

<script type="text/javascript">    
    $(document).ready(function() {
        $('.nav-list li').removeClass('active');
        $('#resumes').addClass('active');
        $('#addPorfileBtn').click(function(){
            document.getElementById('profile_details').innerHTML = $('#txt_profile').val();
            $('#profileModal').hide();
            $('.modal-backdrop').hide();
        });

        $('img').on({
           mouseover:function() {                 
               $(this).css('opacity','0.4');  
           },
           mouseout: function(){       
               $(this).css('opacity','1'); 
           }
        });

        $("#education tbody tr, #experience tbody tr, #projectModal p").append('<input type="checkbox" style="float:right;" />');
        $("#skills").find("td").each(function(){
            //alert($(this).html());
            if($(this).html() != ""){ 
                $(this).append('<input type="checkbox" style="float:right;" />');
            }
        });
        $("#training").find("td").each(function(){
            //alert($(this).html());
            if($(this).html() != ""){ 
                $(this).append('<input type="checkbox" style="float:right;" />');
            }
        });
        //$('td:has(:checkbox:only-child)').css({backgroundColor: 'green'});

        $("#addEduBtn").click(function(){
            $("#eduModal tbody").find("tr").each(function(i){
                //alert($(this));
            });

            document.getElementById('edu_details').innerHTML = '<table id="education" class="table table-condensed"><thead><tr>' +
                        '<th>Year</th><th>Educational Establishment</th><th>Qualification</th><th>Result</th></tr></thead><tbody>' +
                        '<tr><td>2007-2009</td><td>Edinburgh Napier University</td><td>MSc Advanced Software Engineering</td><td>pass</td>' +
                        '</tr><tr><td>2005-2007</td><td>Edinburgh Napier University</td><td>BSc (Hons) Software Technology</td>' +
                        '<td>2:1</td></tr></tbody></table>';

            $('#eduModal').hide();
            $('.modal-backdrop').hide();
        });

        $("#addProjectBtn").click(function(){
            $("#projectModal tbody").find("tr").each(function(i){
                //alert($(this));
            });

            document.getElementById('project_details').innerHTML = '<table id="education" class="table table-condensed"><thead><tr>' +
                        '<th style="width:20%;">Title</th><th>Description</th></tr></thead><tbody><tr><td style="width:20%;">' +
                        'Learning system</td><td>created a learning system that was able to improve its performance' +
                        'at playing the board game Mancala over time. The study compared implementations using MiniMax, Evolutionary' + 
                        'Algorithms, Neural Networks and Ant Colony Optimisation. This project was written fully in Python and made use of' +
                        'concurrency and distributed programming to improve performance.</td></tr><tr><td style="width:20%;">Interface for' +
                        ' phpMyAdmin</td><td>In my undergraduate project I created an interface for phpMyAdmin, a highly popular open source' +
                        'database management system written in PHP. This project was one of the earlier and cutting edge examples of using' +
                        'JavaScript to create dynamic and engaging interfaces. It was featured on websites such as ajaxian.com</td></tr>' +
                        '</tbody></table>';

            $('#projectModal').hide();
            $('.modal-backdrop').hide();
        });

        $("#addExpBtn").click(function(){
            $("#expModal tbody").find("tr").each(function(i){
                //alert($(this));
            });

            document.getElementById('exp_details').innerHTML = '<table id="experience" class="table table-condensed"><tbody><tr>' +
                        '<th style="width:20%">Date</th><th style="width:20%">Company</th><th style="width:60%">Duties Description</th>' +
                        '</tr><tr><td>Feb 12 - Present</td><td>Root Creative</td><td>At Root Creative I am ' +
                        'responsible for creating the technical design and implementation of a number of iPhone (ObjectiveC) and ' +
                        'Android (Java) with a Python backend system. Essentially the work is to create a CMS backed iPhone and Android' +
                        'app but rather than a typical website the work spans over a number of very different and interesting platforms.' +
                        '</td></tr><tr>' +
                        '<td>May 11 - Oct 11</td><td>Pitchup</td><td>Python development of the leading Campsite website in the UK. ' +
                        'I joined PitchUp to help add a number of key features for the 2011 summer season while helping with scalability ' +
                        'problems and issues.</td></tr><tr>' +
                        '<td>09/2010 - 07/2011</td><td>Aviva plc</td><td>Django and Python development working on a number of Aviva\'s' +
                        'websites front facing high profile websites including www.rac.co.uk. I was involved in a number of large projects ' +
                        'and led development of the highest traffic and most visible website under Aviva\'s control at the ' +
                        'time; www.rac.co.uk.</td></tr>'
                        '</tbody></table>';

            $('#expModal').hide();
            $('.modal-backdrop').hide();
        });
        
    });
</script>

<div class="span9">
    <div class="span-22 prepend-top">
        <div class="span-21 box">
            <h2 align="center">Curriculum Vitae</h2>
        </div>

        <div id="cv">
          <div style="width:100%">
            <div style="float:right;">
                <img src="/static/{{ thumbnail }}" style="float:right;width:175px;margin-bottom:110px;" class="img-polaroid">
            </div>
            <h2>{{ name }}</h2>
            <div style="float:left; width:80%;">
                <table id="basic" class="table table-condensed">
                    <tbody>
                        <tr>
                            <td><b>Date of Birth</b></td>
                            <td>{{ dateOfBirth }}</td>
                        </tr>
                        <tr>
                            <td><b>Gender</b></td>
                            {% if gender == 1 %}
                                <td>Male</td>
                            {% else %}
                                <td>Female</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td>{{ address }}</td>
                        </tr>
                        <tr>
                            <td><b>Phone</b></td>
                            <td>{{ phone }}</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>{{ email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<br /><br />
            <h3>
                Profile
                <a data-toggle="modal" style="color:#0088CC;" href="#profileModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>
            <div class="hero-unit">
                <p id="profile_details">Add your profile here...</p>
            </div>

<!-- eduModal -->
<div id="profileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Profile</h3>
        </div>
        <div class="modal-body">
            <textarea id="txt_profile" style="width:97%; height:200px;">I am a hard working highly motivated open source developer with proven skills in software design and development. I enjoy working within a team and providing a technical lead. With a wide range of skills in web development I have worked in a number of different projects with small start-ups to traditional well established companies. I am interested in finding new challenges and interesting positions where I can develop innovating and successful solutions. I also enjoy a highly active social life, skiing and travelling when I get a chance.</textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addPorfileBtn" class="btn btn-primary">Add</button>
        </div>  
</div>            

            <h3>
                Education
                <a data-toggle="modal" style="color:#0088CC;" href="#eduModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>
            <div class="hero-unit" id="edu_details">
                <p>Add your education details here...</p>
            </div>

<!-- eduModal -->
<div id="eduModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Education Details</h3>
        </div>
        <div class="modal-body">
            <table id="education">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Educational Establishment</th>
                        <th>Qualification</th>
                        <th>Result</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td>2007-2009</td>
                        <td>Edinburgh Napier University</td>
                        <td>MSc Advanced Software Engineering</td>
                        <td>pass</td>
                    </tr>
                    <tr>
                        <td>2005-2007</td>
                        <td>Edinburgh Napier University</td>
                        <td>BSc (Hons) Software Technology</td>
                        <td>2:1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addEduBtn" class="btn btn-primary">Add</button>
        </div>  
</div>

            <h3>Notable Projects
                <a data-toggle="modal" style="color:#0088CC;" href="#projectModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>                       
            <div class="hero-unit">
                <p id="project_details">Add project details here...</p>
            </div>

<!-- projectModal -->
<div id="projectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Projects Details</h3> 
        </div>
        <div class="modal-body">
            <table id="projects">
                <thead>
                    <tr>
                        <th style="width:20%;">Title</th>
                        <th>Description</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td style="width:20%;">Learning system</td>
                        <td>For my Masters dissertation I worked on machine learning and successfully
            created a learning system that was able to improve its performance at playing
            the board game Mancala over time. The study compared implementations using
            MiniMax, Evolutionary Algorithms, Neural Networks and Ant Colony Optimisation.
            This project was written fully in Python and made use of concurrency and
            distributed programming to improve performance.</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">Interface for phpMyAdmin</td>
                        <td>In my undergraduate project I created an interface for phpMyAdmin, a
            highly popular open source database management system written in PHP. This
            project was one of the earlier and cutting edge examples of using JavaScript
            to create dynamic and engaging interfaces. It was featured on websites such as
            ajaxian.com</td>
                    </tr>
                    <tr>
                        <td style="width:20%;">Other</td>
                        <td>I am a avid open source developer. I often contribute to open source projects,
            including Django and a number of smaller projects. I have released a number of
            my own open projects, many of these are visible of my GitHub account. I try to
            make an open source contribution each day, my progress can be tracked at
            www.calendaraboutnothing.com/~d0ugal</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addProjectBtn" class="btn btn-primary">Add</button>
        </div>  
</div>            

            <h3>Key Skills
                <a data-toggle="modal" style="color:#0088CC;" href="#skillModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>

            <div class="row-fluid">
                <div class="row-fluid">
                {% for skill in skills %}
                   <div id="skills">{{skill.name}}</div>
                {% endfor %}
               </div>
            </div> 

            <h3>
                Experience
                <a data-toggle="modal" style="color:#0088CC;" href="#expModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>           
            <div class="hero-unit">
                <p id="exp_details">Add your experiences here...</p>
            </div>

<!-- expModal -->
<div id="expModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add Experience Details</h3>
        </div>
        <div class="modal-body">
            <table id="experience">
                <thead>
                    <tr>
                        <th style="width:14%">Date</th>
                        <th style="width:15%">Company</th>
                        <th style="width:71%">Duties Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feb 12 - Present</td>
                        <td>Root Creative</td>
                        <td>
                            At Root Creative I am responsible for creating the technical
                            design and implementation of a number of iPhone (ObjectiveC) and
                            Android (Java) with a Python backend system. Essentially the work
                            is to create a CMS backed iPhone and Android app but rather than
                            a typical website the work spans over a number of very different
                            and interesting platforms. <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Nov 11 - Jan 12</td>
                        <td>ALISS - long term alliance scotland</td>
                        <td>
                            Work with Django, Python, MongoDb, Redis, Solr and other related
                            projects for ALISS project - an Scottish NHS backed project. I
                            worked across most areas in this project and added both an
                            analytics framework and a notification framework to be used as
                            the service scales in the future. <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Oct 11 - Jan 12</td>
                        <td>QueryClick</td>
                        <td>
                            Python development working a high throughput web scraper utilising
                            Amazon Web Services, Tor and complex threading and concurrency
                            processes.<br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>May 11 - Oct 11</td>
                        <td>Pitchup</td>
                        <td>
                            Python development of the leading Campsite website in the UK. I
                            joined PitchUp to help add a number of key features for the 2011
                            summer season while helping with scalability problems and issues.
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>09/2010 - 07/2011</td>
                        <td>Aviva plc</td>
                        <td>
                            Django and Python development working on a number of Aviva's
                            websites front facing high profile websites including
                            www.rac.co.uk. I was involved in a number of large projects and
                            led development of the highest traffic and most visible website
                            under Aviva's control at the time; www.rac.co.uk.<br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Sept 09 - Sept 10</td>
                        <td>Loopo Ltd</td>
                        <td>
                            Django and Python development working on Zinc Medical Recruitment,
                            A medical trainee recruitment system used by  medical schools and
                            colleges in England and Wales. This highly complicated Django
                            project handled applications from thousands of students in a very
                            short window of very complicated dynamically generated and
                            modified forms.<br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Nov 09 - Dec 09</td>
                        <td>Aware Monitoring</td>
                        <td>
                            Development working on awaremonitoring.com for Viisys Ltd. The
                            work involved Python, Django, RabbitMQ, Celery, jQuery, mySQL. I
                            was involved in creating an initial version of their distributed
                            speed monitoring services.<br><br>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addExpBtn" class="btn btn-primary">Add</button>
        </div>  
</div>

            <h3>Extra Curriculum Activities
                <a data-toggle="modal" style="color:#0088CC;" href="#extModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>
            
            <h3>References and Recommendations
                <a data-toggle="modal" style="color:#0088CC;" href="#refModal">
                    <img src="/static/images/button-add.png" width="50" />
                </a>
            </h3>
        </div>
    </div>
</div>
    {% endblock %}
