{% extends "base_cv.html" %}

{% block content %}
	<style type="text/css">
		.span9{
			background-color: white;
			border-radius: 5px;
			width: 81% !important;
			padding: 20px;
		}

		.row-fluid{
			padding-left: 50px;
		}

		.profile_image{
	        float:right;        
	    }

	    .profile_image img{
	        float:right;
	        width:170px;
	        margin-bottom:62px;
	        margin-top:48px;       
	    }

	    .basic_content{
	        float:left; 
	        width:80%;
	    }

	</style>
	<script type="text/javascript">  
    	$(document).ready(function() {  
    		// creating education table
    		var edu_element = "";
    		var edu_str = "{{ cv.education }}";
    		var edu_tr_list = edu_str.split("`");
			for (var i = 0; i < edu_tr_list.length; i++) {
				var edu_td = "";
				if(edu_tr_list[i] != ""){
		    		var edu_td_list = edu_tr_list[i].split("~");
					for (var j = 0; j < edu_td_list.length; j++) {
						if(edu_td_list[j] != ""){
					    	edu_td += "<td>" + edu_td_list[j] + "</td>";
					    }
					}
					edu_element += "<tr>" + edu_td + "</tr>";
				}
			}
			document.getElementById('edu_details').innerHTML = '<table id="education" class="table table-condensed"><thead><tr>' +
                        '<th>Year</th><th>Educational Establishment</th><th>Qualification</th><th>Result</th></tr></thead><tbody>' +
                        edu_element + '</tbody></table>';

           	// creating project table
    		var pro_element = "";
    		var pro_str = "{{ cv.projects }}";
    		var pro_tr_list = pro_str.split("`");
			for (var i = 0; i < pro_tr_list.length; i++) {
				var pro_td = "";
				if(pro_tr_list[i] != ""){
		    		var pro_td_list = pro_tr_list[i].split("~");
					for (var j = 0; j < pro_td_list.length; j++) {
						if(pro_td_list[j] != ""){
					    	pro_td += "<td>" + pro_td_list[j] + "</td>";
					    }
					}
					pro_element += "<tr>" + pro_td + "</tr>";
				}
			}

			document.getElementById('project_details').innerHTML = '<table id="education" class="table table-condensed"><thead><tr>' +
                        '<th style="width:20%;">Title</th><th>Description</th></tr></thead><tbody>' + pro_element + '</tbody></table>';

           	// creating experience table
    		var exp_element = "";
    		var exp_str = "{{ cv.experience }}";
    		var exp_tr_list = exp_str.split("`");
			for (var i = 0; i < exp_tr_list.length; i++) {
				var exp_td = "";
				if(exp_tr_list[i] != ""){
		    		var exp_td_list = exp_tr_list[i].split("~");
					for (var j = 0; j < exp_td_list.length; j++) {
						if(exp_td_list[j] != ""){
					    	exp_td += "<td>" + exp_td_list[j] + "</td>";
					    }
					}
					exp_element += "<tr>" + exp_td + "</tr>";
				}
			}

			document.getElementById('exp_details').innerHTML = '<table id="experience" class="table table-condensed"><thead><tr>' +
                        '<th style="width:20%">Date</th><th style="width:20%">Company</th><th style="width:60%">Duties Description</th>' +
                        '</tr></thead>' + exp_element + '<tbody></tbody></table>';
    	});
	</script>
	<div class="span9">
        <div class="span-21">
            <h2 align="center">Curriculum Vitae</h2>
        </div>

        <div style="width:100%">
            <div class="profile_image">
                <img src="/static/{{ applicant.thumbnail }}" class="img-polaroid">
            </div>
            <h2>{{ applicant.full_name }}</h2>
            <div class="basic_content">
                <table id="basic" class="table table-condensed">
                    <tbody>
                        <tr>
                            <td><b>Date of Birth</b></td>
                            <td>{{ dateOfBirth }}</td>
                        </tr>
                        <tr>
                            <td><b>Gender</b></td>
                            {% if applicant.gender == 1 %}
                                <td>Male</td>
                            {% else %}
                                <td>Female</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td>{{ applicant.address }}</td>
                        </tr>
                        <tr>
                            <td><b>Phone</b></td>
                            <td>{{ applicant.phone }}</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>{{ email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <h3>Profile</h3>
            <div class="hero-unit">
                <p id="profile_details">{{ cv.profile }}</p>
            </div>  

            <h3>Education</h3>
            <div class="hero-unit" id="edu_details"></div>

            <h3>Notable Projects</h3>                       
            <div class="hero-unit" id="project_details"></div>

            <h3>Experience</h3>           
            <div class="hero-unit" id="exp_details"></div>

            <h3>Key Skills</h3>         
            <div class="hero-unit">
                <p id="skill_details"></p>
            </div>

            <h3>Extra Curriculum Activities</h3>       
            <div class="hero-unit" id="extra_details">
            </div>
            
            <h3>References and Recommendations</h3>       
            <div class="hero-unit" id="rec_details">
            </div>
</div>
{% endblock %}