{% extends "base.html" %}

{% block menubar %}
  <style type="text/css">
    #user_image { text-align:center; margin-right: 5px; height: 100% !important; vertical-align:middle;}
    #user_image img { height: 42px !important; width: auto !important; border-radius: 5px; }
  </style>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/wall/" class="brand">YouthJobs.lk</a>
          <div class="nav-collapse collapse">
            <ul class="nav" style="float:right;">
              {% if request.session.logged_user_image %}
                <li id="user_image"><img src="/static/{{ request.session.logged_user_image }}" alt="Profile Picture" /></li>
              {% endif %}

              <li id="user" style="border-style:solid;border-width:1px;border-color:green;"><a href="/wall/" style="color:green;"  data-toggle="modal">{{ request.session.logged_username }}</a></li>
              <li id="logout" style="border-style:solid;border-width:1px;border-color:red;margin-left:5px;"><a href="/logout/" style="color:red;" data-toggle="modal">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block sidepane %}
    <ul class="nav nav-list nav-stacked">
      <li><a href="#"><i class="icon-user"></i> Company Profile</a></li>
      <li><a href="#"><i class="icon-wrench"></i> Account Settings</a></li>
      <li class="nav-header">Other Activities</li>
      <li><a href="/vacancies/vacancies_list"><i class="icon-globe"></i> View Posted Jobs</a></li>
      <li><a href="/vacancies/postjob"><i class="icon-globe"></i> Post Jobs</a></li>
    </ul>
{% endblock %}