{% extends "base.html" %}

{% block sidepane %}
    <ul class="nav nav-list nav-stacked">
      <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
      <li><a href="/skills/edit"><i class="icon-plus"></i> Add Skills</a></li>
      <li><a href="#"><i class="icon-wrench"></i> Account Settings</a></li>
      <li><a href="/gencv"><i class="icon-wrench"></i> CV Preview</a></li>
      <li class="nav-header">Other Activities</li>
      <li><a href="/companies/list"><i class="icon-globe"></i> View Companies</a></li>
      <li><a href="#"><i class="icon-hand-right"></i>Search Vacancies</a></li>
      <li><a href="#"><i class="icon-road"></i> Career Guidance</a></li>
    </ul>
{% endblock %}

{% block footer %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 left">
        <div class="span4 left footerinner">
              <li class="nav-header"><a href="#"><p class="text-right">About Us</p></a></li>
              <li class="nav-header"><a href="#"><p class="text-right">Out Story</p></a></li>
              <li class="nav-header"><a href="#"><p class="text-right">Our Team</p></a></li>
              <li class="nav-header"><a href="#"><p class="text-right">Contact Us</p></a></li>
        </div>
        <div class="span8 left footerinner">
            <p class="muted credit">This solution is developed for<br/>helping younger generation<br/>to make their life easy by finding suitable job opportunities easily.</p>
            <p class="muted credit">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
        </div>
    </div>
    <div class="span6 left">
        <div class="span7 left footerinner"> 
            <p class="text-right">Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.</p>
        </div>
        <div class="span5 left footerinner">
              <li class="nav-header">© 2013 HawkEye Solutions.</li>
              <li class="nav-header"><a href="http://youthjobs.lk">YouthJobs</a> and <a href="http://hawkeyesolutions.lk">HawkEye Solutions</a> are unregistered trademarks of <a href="http://hawkeyesolutions.lk">HawkEye Solutions</a>.</li>
              <li class="nav-header"><a href="#"><p class="">Intellectual property rights policy</p></a></li>
              <li class="nav-header"><a href="#"><p class="">Legal information</p></a></li>
              <li class="nav-header"><a href="#"><p class="">Privacy policy</p></a></li>
        </div>
    </div>
  </div>
</div>


{% endblock %}
