{% extends "base.html" %}

{% block menubar %}
  <style type="text/css">
    #user_image { text-align:center; margin-right: 5px; height: 100% !important; vertical-align:middle;}
    #user_image img { height: 42px !important; width: auto !important; border-radius: 5px; }
  </style>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/wall/" class="brand">YouthJobs.lk</a>
          <div class="nav-collapse collapse">
            <ul class="nav" style="float:right;">
              {% if request.session.logged_user_image %}
                <li id="user_image">
                  <img src="/static/{{ request.session.logged_user_image }}" alt="Profile Picture" />
                </li>
              {% endif %}

              <li id="user"><a href="/wall/" style="color:green;"  data-toggle="modal">{{ request.session.logged_username }}</a></li>
              <li id="logout"><a href="/logout/" style="color:red;" data-toggle="modal">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block sidepane %}
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Main Activities</li>
        <li id="newsfeed" class="active"><a href="/wall"><i class="icon-globe"></i>News Feed</a></li>
        <li id="myprofile"><a href="/profile"><i class="icon-globe"></i>My Profile</a></li>
        <li id="skills"><a href="/skills/edit"><i class="icon-globe"></i>Add Skills</a></li>
        <li id="resumes"><a href="/gencv"><i class="icon-globe"></i>Resumes</a></li>
        <li id="account"><a href="#"><i class="icon-globe"></i>Account Settings</a></li>
        <li class="nav-header">Other Activities</li>
        <li id="viewcom"><a href="/companies/list"><i class="icon-globe"></i>View Companies</a></li>
        <li id="searchcom"><a href="#"><i class="icon-globe"></i>Search Vacancies</a></li>
        <li id="career"><a href="#"><i class="icon-globe"></i>Career Guidance</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
{% endblock %}