{% extends "base_site.html" %}

{% block content %}

<style type="text/css">
</style>

<script type="text/javascript">
    $(document).ready(function() {    	
        $('.nav-list li').removeClass('active');
        $('#myprofile').addClass('active');

		$('img').on({
	       mouseover:function() {                 
	           $(this).css('opacity','0.4');  
	       },
	       mouseout: function(){       
	           $(this).css('opacity','1'); 
	       }
	   	});
	});
</script>

<div class="span9">
  <div class="hero-unit">
  	<h3>Basic Details
  		<a id="basicDetails" data-toggle="modal" style="color:#0088CC;" href="#basicDetailsModal">
  			<img id="editBasicsBtn" src="/static/images/edit_icon.png" width="35" />
  		</a>
  	</h3>
    <img src="/static/{{ applicant_details.thumbnail }}" class="img-polaroid" style="float:left; margin-right:20px; width:150px;">
    <p>{{ applicant_details.full_name }}</p>
    <p>{{ dateOfBirth }}</p>
    {% if applicant_details.gender == 1 %}
    	<p>Male</p>
    {% else %}
    	<p>Male</p>
    {% endif %}
    <p>{{ applicant_details.phone }}</p>
  </div>

  <div class="hero-unit">
  	<h3>Educational Details
  		<a id="eduDetails" data-toggle="modal" style="color:#0088CC;" href="#eduDetailsModal">
  			<img id="editEduBtn" src="/static/images/edit_icon.png" width="35" />
  		</a>
  	</h3>
    <p>Add your educational qualification here.</p>
            <table id="education" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Educational Establishment</th>
                        <th>Qualification</th>
                        <th>Result</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>                
                <tbody>
                <tr>
                    <td>2007-2009</td>
                    <td>Edinburgh Napier University</td>
                    <td>MSc Advanced Software Engineering</td>
                    <td>pass</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>2005-2007</td>
                    <td>Edinburgh Napier University</td>
                    <td>BSc (Hons) Software Technology</td>
                    <td>2:1</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                </tbody>
            </table>
  </div>

  <div class="hero-unit">
  	<h3>Working Experience Details
  		<a id="eduDetails" data-toggle="modal" style="color:#0088CC;" href="#eduDetailsModal">
  			<img id="editEduBtn" src="/static/images/edit_icon.png" width="35" />
  		</a>
  	</h3>
    <p>Add your working experiences here.</p>
    <table id="experience" class="table table-condensed">
                <tbody><tr>
                    <th style="width:14%">Date</th>
                    <th style="width:15%">Company</th>
                    <th style="width:66%">Duties Description</th>
                    <th style="width:5%"></th>
                </tr>
                <tr>
                    <td>Feb 12 - Present</td>
                    <td>Root Creative</td>
                    <td>
                        At Root Creative I am responsible for creating the technical
                        design and implementation of a number of iPhone (ObjectiveC) and
                        Android (Java) with a Python backend system. Essentially the work
                        is to create a CMS backed iPhone and Android app but rather than
                        a typical website the work spans over a number of very different
                        and interesting platforms. <br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Nov 11 - Jan 12</td>
                    <td>ALISS - long term alliance scotland</td>
                    <td>
                        Work with Django, Python, MongoDb, Redis, Solr and other related
                        projects for ALISS project - an Scottish NHS backed project. I
                        worked across most areas in this project and added both an
                        analytics framework and a notification framework to be used as
                        the service scales in the future. <br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Oct 11 - Jan 12</td>
                    <td>QueryClick</td>
                    <td>
                        Python development working a high throughput web scraper utilising
                        Amazon Web Services, Tor and complex threading and concurrency
                        processes.<br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>May 11 - Oct 11</td>
                    <td>Pitchup</td>
                    <td>
                        Python development of the leading Campsite website in the UK. I
                        joined PitchUp to help add a number of key features for the 2011
                        summer season while helping with scalability problems and issues.
                        <br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>09/2010 - 07/2011</td>
                    <td>Aviva plc</td>
                    <td>
                        Django and Python development working on a number of Aviva's
                        websites front facing high profile websites including
                        www.rac.co.uk. I was involved in a number of large projects and
                        led development of the highest traffic and most visible website
                        under Aviva's control at the time; www.rac.co.uk.<br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Sept 09 - Sept 10</td>
                    <td>Loopo Ltd</td>
                    <td>
                        Django and Python development working on Zinc Medical Recruitment,
                        A medical trainee recruitment system used by  medical schools and
                        colleges in England and Wales. This highly complicated Django
                        project handled applications from thousands of students in a very
                        short window of very complicated dynamically generated and
                        modified forms.<br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Nov 09 - Dec 09</td>
                    <td>Aware Monitoring</td>
                    <td>
                        Development working on awaremonitoring.com for Viisys Ltd. The
                        work involved Python, Django, RabbitMQ, Celery, jQuery, mySQL. I
                        was involved in creating an initial version of their distributed
                        speed monitoring services.<br><br>
                    </td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>  
            </tbody>
        </table>
  </div>

  <div class="hero-unit">
  	<h3>Extra Curriculum Details
  		<a id="eduDetails" data-toggle="modal" style="color:#0088CC;" href="#eduDetailsModal">
  			<img id="editEduBtn" src="/static/images/edit_icon.png" width="35" />
  		</a>
  	</h3>
    <p>Add some extra curriculum details here.</p>
            <table id="sports" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Sports</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>                
                <tbody>
                <tr>
                    <td>Member of the University Swimming Team</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Member of School Swimming club</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                </tbody>
            </table>
            <table id="sports" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Groups</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>                
                <tbody>
                <tr>
                    <td>Member of the School Agriculture Society (2005-2006)</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                <tr>
                    <td>Member of the School Art Society(2005-2006)</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                </tbody>
            </table>
            <table id="other" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Other</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>                
                <tbody>
                <tr>
                    <td>Participated in IEEEXtreme 6.0 competition 2012</td>
                    <td style="width:5%"><img src="/static/images/delBtn.png" width="20"/></td>
                </tr>
                </tbody>
            </table>
  </div>
</div><!--/span-->
{% endblock %}
