{% extends "base_company.html" %}

{% block maincontent %}

<style type="text/css">

      .helptext{
        display: none;
      }

      li{
        list-style: none;
      }

      input, textarea{
        width: 50% !important;
      }

</style>

<div id="wrap_outer">
    <div id="wrap">
        <div class="container">	
        	{% if success %}
			    <p style="color:green;"> Job added successfully </p>
			{% endif %}         
			<form method="post" action="/vacancies/postjob/">
			{% csrf_token %}

			    {{ job_form }}

			    <input type="submit" value="Post job">
			    <input type="reset" value="reset" id="reset">   
			</form>
        </div>
    </div>
</div>
{% endblock %}
