{% extends "base_site.html" %}

{% block content %}
<div class="span9">
    <div class="hero-unit">
        <h3>Job vacancies of {{ name }}</h3>
        <table class="table table-condensed">
            <tr>
                <th>Title</td>
                <th>Description</td>
                <th>Applicants</td>
            </tr>
        {% for vacancy in list %}
            <tr>
                <td><a href="/vacancies/{{ vacancy.id }}/">{{ vacancy.name }}</a></td>
                <td>{{ vacancy.description }}</td>
                <td><a href="#">{{ vacancy.id }}</a></td>
            </tr>
        {% endfor %}
        </table>

        {% if 1 < list.paginator.num_pages %}
        <div class="row-fluid">
        <div class="pagination pagination-right">
            <ul>
                {% if list.has_previous %}
                    <li><a href="?page={{ list.previous_page_number }}"><<</a><li>
                {% else %}
                    <li class="disabled"><a href="#"><<</a><li>
                {% endif %}
                {% for num in list.paginator.page_range %}
                    {% if num == list.number %}
                        <li class="active"><a href="?page={{ num }}">{{ num }}</a><li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a><li>
                    {% endif%}
                {% endfor %}

                {% if list.has_next %}
                    <li><a href="?page={{ list.next_page_number }}">>></a><li>
                {% else %}
                    <li class="disabled"><a href="#">>></a><li>
                {% endif %}
            </ul>
        </div>
        </div>
        {% endif %}
    </div>
    <div class="pagination">
      <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
</div>

{% endblock %}